/* Global styles */

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #2f4f4f; 
}

p { color: #4a4a4a; font-size: 15px;}

.section {
    position: relative;
    overflow: hidden;
}

.svg {
    position: absolute;
    display: block;
    width: 100%; 
    height: auto;
    fill: #fff;
}

.bottom-shape {
  bottom: 0; 
  margin-top: -1px; /* Adjust for seamless connection */
}

.top-shape {
  top: 0; 
  margin-bottom: -1px; /* Adjust for seamless connection */
}

.btn {
    padding: 0.65rem 1.25rem !important;
    border-radius: 20px !important;
    cursor: pointer !important; 
    background-color: #70bae3 !important;
    color: #fff !important; 
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.bg-white {
    background: #fff; 
}

.bg-color {
    background-color: #e6f2ec;
}

.bg-accent {
    background-color: #B4DBD8;
}

.btn:hover {
    background-color: #3795c0 !important; /* Hover color */
}
  
@media screen and (min-width: 768px) {
    p {
        font-size: 20px; 
    }

    h2 { font-size: 2.25em !important; }
}

/* Hero section */

.hero-section {
    background-image: url('../img/bg-hero-2.png'); /* Use the correct file name */
    background-size: cover;       /* Scales the image to cover the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh;                /* Sets the height to full viewport */
    display: flex;                /* Optional: Align content within */
    align-items: center;          /* Center content vertically */
    justify-content: start;       /* Align content to the left */
    height: 500px;
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border-color: #70bae3;
    /* border: 1px solid #70bae3; */
}

.hero-text {
    font-size: 1.25rem;
    max-width: 590px;
    margin: 0 auto;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .hero-section {
        height: 600px;
    }

    .hero-content {
        background-color: rgba(255, 255, 255, 0.75);
        padding: 50px 30px;
    }
}

/* Intro section */

.intro-text-wrap {
  background:#F2F2F2;
  border-radius: 5px;
}

.intro-img {
  display: block;
  margin: 0 auto;
  width: 375px; 
  border-radius: 5px;
}

.intro-text {
  font-size: 15px; 
}

@media screen and (min-width: 768px) {
    .intro-text {
        font-size: 18px; 
    }
}

/* Phase section */

.phase-text-wrap {
    border-radius: 5px; 
}

.phase-text {
    max-width: 760px; 
    margin: 0 auto;  
}

/* Why Section */

.why-img {
 display: block;
 width: 100%; 
 border-radius: 5px; 
}

.why-text {
  max-width: none; 
}

.why-section .bottom-shape {
  bottom: -30px; 
}
  
.why-section .top-shape {
  top: -50px; 
}

@media screen and (min-width: 992px) {
    .why-img {
        width: 500px; 
    }

    .why-text {
        max-width: 580px; 
      }
}

/* Values section */ 

.value-section span {
  font-weight: bold;
}

/* Proposal section */ 

.proposal-section p { color: #3D3D3D; max-width: 910px; }

.proposal-section .top-shape {
  top: -30px; 
}

.proposal-section .bottom-shape {
  bottom: -30px; 
}
  
